{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="p-1 grid gap-1 column">



    <a class="block relative" href="#">

        <div class="absolute right px py color">SD</div>

        <img class="w-full" height="330" src="https://i.ibb.co/TPzR0S6/20211214-190425.jpg" width="220">

        <div class="bg-black">
            <div class="absolute bg-black">
                <div class="flex">
                    <div class="flex items-center">

                    </div>
                </div>
            </div>
        </div>

        <div class="absolute text down w-full bg-black font">

            <span class="block w-full truncate">Name1</span>
        </div>
    </a>



    <a class="block relative" href="#">

        <div class="absolute right px py color">HD</div>

        <img class="w-full" height="330" src="https://i.ibb.co/TPzR0S6/20211214-190425.jpg" width="220">

        <div class="bg-black">
            <div class="absolute bg-black">
                <div class="flex">
                    <div class="flex items-center">

                    </div>
                </div>
            </div>
        </div>

        <div class="absolute text down w-full bg-black font">

            <span class="block w-full truncate">Name2</span>

        </div>
    </a>



    <a class="block relative" href="#">

        <div class="absolute right px py color">4K</div>

        <img class="w-full" height="330" src="https://i.ibb.co/TPzR0S6/20211214-190425.jpg" width="220">

        <div class="bg-black">
            <div class="absolute bg-black">
                <div class="flex">
                    <div class="flex items-center">

                    </div>
                </div>
            </div>
        </div>

        <div class="absolute text down w-full bg-black font">

            <span class="block w-full truncate">Name3</span>

        </div>
    </a>


    <a class="block relative" href="#">

        <div class="absolute right px py color">SD</div>

        <img class="w-full" height="330" src="https://i.ibb.co/TPzR0S6/20211214-190425.jpg" width="220">

        <div class="bg-black">
            <div class="absolute bg-black">
                <div class="flex">
                    <div class="flex items-center">

                    </div>
                </div>
            </div>
        </div>

        <div class="absolute text down w-full bg-black font">

            <span class="block w-full truncate">Name1</span>
        </div>
    </a>



    <a class="block relative" href="#">

        <div class="absolute right px py color">HD</div>

        <img class="w-full" height="330" src="https://i.ibb.co/TPzR0S6/20211214-190425.jpg" width="220">

        <div class="bg-black">
            <div class="absolute bg-black">
                <div class="flex">
                    <div class="flex items-center">

                    </div>
                </div>
            </div>
        </div>

        <div class="absolute text down w-full bg-black font">

            <span class="block w-full truncate">Name2</span>

        </div>
    </a>



    <a class="block relative" href="#">

        <div class="absolute right px py color">4K</div>

        <img class="w-full" height="330" src="https://i.ibb.co/TPzR0S6/20211214-190425.jpg" width="220">

        <div class="bg-black">
            <div class="absolute bg-black">
                <div class="flex">
                    <div class="flex items-center">

                    </div>
                </div>
            </div>
        </div>

        <div class="absolute text down w-full bg-black font">

            <span class="block w-full truncate">Name3</span>

        </div>
    </a>


    <a class="block relative" href="#">

        <div class="absolute right px py color">SD</div>

        <img class="w-full" height="330" src="https://i.ibb.co/TPzR0S6/20211214-190425.jpg" width="220">

        <div class="bg-black">
            <div class="absolute bg-black">
                <div class="flex">
                    <div class="flex items-center">

                    </div>
                </div>
            </div>
        </div>

        <div class="absolute text down w-full bg-black font">

            <span class="block w-full truncate">Name1</span>
        </div>
    </a>



    <a class="block relative" href="#">

        <div class="absolute right px py color">HD</div>

        <img class="w-full" height="330" src="https://i.ibb.co/TPzR0S6/20211214-190425.jpg" width="220">

        <div class="bg-black">
            <div class="absolute bg-black">
                <div class="flex">
                    <div class="flex items-center">

                    </div>
                </div>
            </div>
        </div>

        <div class="absolute text down w-full bg-black font">

            <span class="block w-full truncate">Name2</span>

        </div>
    </a>



    <a class="block relative" href="#">

        <div class="absolute right px py color">4K</div>

        <img class="w-full" height="330" src="https://i.ibb.co/TPzR0S6/20211214-190425.jpg" width="220">

        <div class="bg-black">
            <div class="absolute bg-black">
                <div class="flex">
                    <div class="flex items-center">

                    </div>
                </div>
            </div>
        </div>

        <div class="absolute text down w-full bg-black font">

            <span class="block w-full truncate">Name3</span>

        </div>
    </a>



    <a class="block relative" href="#">

        <div class="absolute right px py color">SD</div>

        <img class="w-full" height="330" src="https://i.ibb.co/TPzR0S6/20211214-190425.jpg" width="220">

        <div class="bg-black">
            <div class="absolute bg-black">
                <div class="flex">
                    <div class="flex items-center">

                    </div>
                </div>
            </div>
        </div>

        <div class="absolute text down w-full bg-black font">

            <span class="block w-full truncate">Name1</span>
        </div>
    </a>



    <a class="block relative" href="#">
        <div class="absolute right px py color">HD</div>

        <img class="w-full" height="330" src="https://i.ibb.co/TPzR0S6/20211214-190425.jpg" width="220">

        <div class="bg-black">
            <div class="absolute bg-black">
                <div class="flex">
                    <div class="flex items-center">

                    </div>
                </div>
            </div>
        </div>

        <div class="absolute text down w-full bg-black font">

            <span class="block w-full truncate">Name2</span>

        </div>
    </a>



    <a class="block relative" href="#">

        <div class="absolute right px py color">4K</div>

        <img class="w-full" height="330" src="https://i.ibb.co/TPzR0S6/20211214-190425.jpg" width="220">

        <div class="bg-black">
            <div class="absolute bg-black">
                <div class="flex">
                    <div class="flex items-center">

                    </div>
                </div>
            </div>
        </div>

        <div class="absolute text down w-full bg-black font">

            <span class="block w-full truncate">Name3</span>

        </div>
    </a>


    <a class="block relative" href="#">
        <div class="absolute right px py color">HD</div>

        <img class="w-full" height="330" src="https://i.ibb.co/TPzR0S6/20211214-190425.jpg" width="220">

        <div class="bg-black">
            <div class="absolute bg-black">
                <div class="flex">
                    <div class="flex items-center">

                    </div>
                </div>
            </div>
        </div>

        <div class="absolute text down w-full bg-black font">

            <span class="block w-full truncate">Name2</span>

        </div>
    </a>



    <a class="block relative" href="#">

        <div class="absolute right px py color">4K</div>

        <img class="w-full" height="330" src="https://i.ibb.co/TPzR0S6/20211214-190425.jpg" width="220">

        <div class="bg-black">
            <div class="absolute bg-black">
                <div class="flex">
                    <div class="flex items-center">

                    </div>
                </div>
            </div>
        </div>

        <div class="absolute text down w-full bg-black font">

            <span class="block w-full truncate">Name3</span>

        </div>
    </a>

    

    <a class="block relative" href="#">

        <div class="absolute right px py color">4K</div>

        <img class="w-full" height="330" src="https://i.ibb.co/TPzR0S6/20211214-190425.jpg" width="220">

        <div class="bg-black">
            <div class="absolute bg-black">
                <div class="flex">
                    <div class="flex items-center">

                    </div>
                </div>
            </div>
        </div>

        <div class="absolute text down w-full bg-black font">

            <span class="block w-full truncate">Name3</span>

        </div>
    </a>

{% endblock %}
